{% extends "listings/base.html" %}
{% block content %}
<a href="{% url 'band-change' band.id %}">Modifier le groupe</a>
<a href="{% url 'band-delete' band.id %}">Supprimer le groupe</a>
<h1>{{ band.name }} :</h1>
<ul> 
    <li>Genre : {{ band.get_genre_display }}</li>
    <li>Date de formation : {{ band.year_formed }}</li>
    <li>Actif : {{ band.active|yesno }}</li>
    {% if band.official_homepage %}
    <li><a href="{{ band.official_homepage }}" target="blank">Site officiel</a></li>
    {% endif %}
    {% if listing %}
    <li>
        <a href="{% url 'listing-band' band.id %}" target="blank">Listing de {{ band.name }}</a>
    </li>
    
    {% endif %}
</ul>
<p>{{ band.biography }}</p>
{% endblock %}
